flows_raspberrypi.json
[
    {
        "id": "5d39f6e8.677b6",
        "label": "Flow 1",
        "type": "tab"
    },
    {
        "birthPayload": "",
        "birthQos": "0",
        "birthRetain": null,
        "birthTopic": "",
        "broker": "raspberrypi",
        "cleansession": true,
        "clientid": "",
        "compatmode": true,
        "id": "2a729cbc.1e292c",
        "keepalive": "60",
        "port": "1883",
        "type": "mqtt-broker",
        "usetls": false,
        "verifyservercert": true,
        "willPayload": "",
        "willQos": "0",
        "willRetain": null,
        "willTopic": "",
        "z": "5d39f6e8.677b6"
    },
    {
        "icon": "dashboard",
        "id": "e6a0ebbf.cf6c6",
        "name": "Dashboard",
        "order": "1",
        "type": "ui_tab",
        "z": "5d39f6e8.677b6"
    },
    {
        "disp": true,
        "id": "e48d8dd4.b12e18",
        "name": "Bedroom",
        "tab": "e6a0ebbf.cf6c6",
        "type": "ui_group",
        "width": "6",
        "z": "5d39f6e8.677b6"
    },
    {
        "disp": true,
        "id": "24f4db0e.011d8c",
        "name": "Desk",
        "tab": "e6a0ebbf.cf6c6",
        "type": "ui_group",
        "width": "6",
        "z": "5d39f6e8.677b6"
    },
    {
        "disp": true,
        "id": "17238813.443538",
        "name": "Switches",
        "tab": "e6a0ebbf.cf6c6",
        "type": "ui_group",
        "width": "6",
        "z": "5d39f6e8.677b6"
    },
    {
        "disp": true,
        "id": "7fb8af9b.af152",
        "name": "NeoPixels",
        "tab": "e6a0ebbf.cf6c6",
        "type": "ui_group",
        "width": "6",
        "z": "5d39f6e8.677b6"
    },
    {
        "disp": true,
        "id": "616c682a.d22568",
        "name": "Toon",
        "tab": "e6a0ebbf.cf6c6",
        "type": "ui_group",
        "width": "6",
        "z": "5d39f6e8.677b6"
    },
    {
        "id": "df7451c1.bfdb28",
        "name": "Dragons&Dolphins Home",
        "theme": "theme-light",
        "type": "ui_base"
    },
    {
        "icon": "dashboard",
        "id": "5cee9693.358b08",
        "name": "Temps",
        "order": 2,
        "type": "ui_tab",
        "z": ""
    },
    {
        "disp": true,
        "id": "58ffad67.aac28c",
        "name": "Bedroom",
        "tab": "5cee9693.358b08",
        "type": "ui_group",
        "width": "24",
        "z": ""
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "e48d8dd4.b12e18",
        "height": "",
        "id": "269fd1cc.5de7de",
        "label": "Inside temperature",
        "layout": "",
        "name": "",
        "order": 1,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 864,
        "y": 129.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "e48d8dd4.b12e18",
        "height": "",
        "id": "a9145db0.063288",
        "label": "Outside temperature",
        "layout": "",
        "name": "",
        "order": "2",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 858,
        "y": 180,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "e48d8dd4.b12e18",
        "height": "",
        "id": "624085c1.4a4f14",
        "label": "Window",
        "layout": "",
        "name": "",
        "order": "4",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 501,
        "y": 428.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "93aeec2c.edd27",
        "name": "Bedroom window state",
        "qos": "2",
        "topic": "control/window/status",
        "type": "mqtt in",
        "wires": [
            [
                "624085c1.4a4f14",
                "60084841.ca0c9"
            ]
        ],
        "x": 135,
        "y": 378.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "if(msg.topic == \"bedroom_inside\") {\n    context.temp_inside = msg.payload;\n}\nif(msg.topic == \"bedroom_outside\") {\n    context.temp_outside = msg.payload;\n}\nreturn { \n    payload: context.temp_outside - context.temp_inside,\n    topic: \"bedroom_diff\" \n}\n\nreturn msg;\n",
        "id": "56682331.0de354",
        "name": "Get temp diff",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "24758665.e6c4c2",
                "8c7388df.488dd"
            ]
        ],
        "x": 547,
        "y": 45.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "e48d8dd4.b12e18",
        "height": "",
        "id": "24758665.e6c4c2",
        "label": "Temperature difference",
        "layout": "",
        "name": "",
        "order": "3",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 883,
        "y": 47,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "if(msg.topic == \"devices/0085b208/f6011581e788ff28/temperature\") {\n    msg.topic = \"bedroom_inside\";\n}\nif(msg.topic == \"devices/0085b208/c480000003e30d28/temperature\") {\n    msg.topic = \"bedroom_outside\";\n}\nif(msg.topic == \"devices/00d39493/0f041654733cff28/temperature\") {\n    msg.topic = \"new1\";\n}\nif(msg.topic == \"devices/00d39493/f6041653f20bff28/temperature\") {\n    msg.topic = \"new2\";\n}\n\nreturn msg;",
        "id": "4e71315e.0e0648",
        "name": "Rename topic",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "57995247.9f57f4",
                "56682331.0de354"
            ]
        ],
        "x": 302,
        "y": 167.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "96c1d36e.8cbc2",
        "name": "Temps",
        "qos": "2",
        "topic": "devices/+/+/temperature",
        "type": "mqtt in",
        "wires": [
            [
                "4e71315e.0e0648",
                "6994304.368015"
            ]
        ],
        "x": 89,
        "y": 41,
        "z": "5d39f6e8.677b6"
    },
    {
        "checkall": "false",
        "id": "57995247.9f57f4",
        "name": "Topic switch",
        "outputs": 4,
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "bedroom_inside",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bedroom_outside",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "new1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "new2",
                "vt": "str"
            }
        ],
        "type": "switch",
        "wires": [
            [
                "269fd1cc.5de7de",
                "dfdbc8f9.63bce",
                "77b006c8.abcb58"
            ],
            [
                "a9145db0.063288",
                "262557ab.ad6438",
                "690d6f94.b28c58"
            ],
            [
                "4a0b3fd6.ff035"
            ],
            [
                "6f15d9f.72e5ea8"
            ]
        ],
        "x": 529,
        "y": 184.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "group": "7fb8af9b.af152",
        "height": "",
        "id": "55e650c.fe2e43",
        "label": "NeoPixels On",
        "name": "",
        "offcolor": "",
        "officon": "",
        "offvalue": "false",
        "offvalueType": "str",
        "oncolor": "",
        "onicon": "",
        "onvalue": "true",
        "onvalueType": "str",
        "order": "1",
        "passthru": true,
        "topic": "neo_on",
        "type": "ui_switch",
        "width": "",
        "wires": [
            [
                "c39339e0.fa89b8",
                "491fcf0e.b1bfb"
            ]
        ],
        "x": 576,
        "y": 602.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "4843d5db.d35a14",
        "name": "NeoPixels state",
        "qos": "2",
        "topic": "devices/0003376b/light/on",
        "type": "mqtt in",
        "wires": [
            [
                "45c609ec.c63b6"
            ]
        ],
        "x": 111,
        "y": 570,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "1e3e14e8.86d773",
        "name": "NeoPixels on set",
        "qos": "2",
        "retain": "false",
        "topic": "devices/0003376b/light/on/set",
        "type": "mqtt out",
        "wires": [],
        "x": 973,
        "y": 621,
        "z": "5d39f6e8.677b6"
    },
    {
        "group": "7fb8af9b.af152",
        "height": "",
        "id": "b62a9784.135d28",
        "label": "NeoPixels brightness",
        "max": "1000",
        "min": 0,
        "name": "",
        "order": "3",
        "passthru": true,
        "step": "",
        "topic": "brightness",
        "type": "ui_slider",
        "width": "",
        "wires": [
            [
                "a0054a68.f93cc8",
                "e3cc531e.376de"
            ]
        ],
        "x": 516,
        "y": 717.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "d569bfa8.bf8ab8",
        "name": "Lightshow brightness set",
        "qos": "2",
        "retain": "false",
        "topic": "control/lightshow/brightness/set",
        "type": "mqtt out",
        "wires": [],
        "x": 1032,
        "y": 732,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "615db78f.be705",
        "name": "Lightshow brightness",
        "topic": "control/lightshow/brightness",
        "type": "mqtt in",
        "wires": [
            [
                "3f2a5f86.e6183",
                "d29ba144.5216f",
                "182f2e8f.83e0b9"
            ]
        ],
        "x": 211,
        "y": 867.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "duration": "1000",
        "extend": true,
        "id": "a0054a68.f93cc8",
        "name": "",
        "op1": "true",
        "op1type": "val",
        "op2": "false",
        "op2type": "val",
        "reset": "",
        "type": "trigger",
        "units": "ms",
        "wires": [
            [
                "3f2a5f86.e6183"
            ]
        ],
        "x": 632,
        "y": 784.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "if(msg.topic == \"brightness\") {\n    context.bright_delay = msg.payload;\n    if(!context.bright_delay) {\n        var result = context.bright_buf;\n        context.bright_buf = null;\n        return {payload: result};\n    }\n} else {\n    if(context.bright_delay) {\n        context.bright_buf = msg.payload;\n    } else {\n        return msg;\n    }\n}\n\n",
        "id": "3f2a5f86.e6183",
        "name": "buffer",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "b62a9784.135d28"
            ]
        ],
        "x": 627,
        "y": 901.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "7fb8af9b.af152",
        "height": "",
        "id": "d29ba144.5216f",
        "label": "NeoPixels brightness",
        "layout": "",
        "name": "",
        "order": "3",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 659,
        "y": 948,
        "z": "5d39f6e8.677b6"
    },
    {
        "chartType": "line",
        "group": "e48d8dd4.b12e18",
        "height": "0",
        "id": "7822f467.b6dc64",
        "interpolate": "linear",
        "label": "",
        "name": "Temps",
        "nodata": "No Data",
        "order": "11",
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "type": "ui_chart",
        "width": "0",
        "wires": [
            [],
            []
        ],
        "x": 982,
        "xformat": "%H:%M:%S",
        "y": 265,
        "ymax": "",
        "ymin": "",
        "z": "5d39f6e8.677b6"
    },
    {
        "drop": true,
        "id": "262557ab.ad6438",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "12",
        "rateUnits": "hour",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "7822f467.b6dc64",
                "ff021458.8d7da"
            ]
        ],
        "x": 771,
        "y": 298.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "drop": true,
        "id": "dfdbc8f9.63bce",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "12",
        "rateUnits": "hour",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "7822f467.b6dc64",
                "ff021458.8d7da"
            ]
        ],
        "x": 767,
        "y": 251,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "e3a35269.f0e2a8",
        "name": "ADC value",
        "topic": "devices/0003376b/adc/value",
        "type": "mqtt in",
        "wires": [
            [
                "e3c53bf6.59b448"
            ]
        ],
        "x": 172,
        "y": 1007.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "var value = msg.payload / 1024.0;\nmsg.payload = value.toFixed(3);\nreturn msg;\n",
        "id": "e3c53bf6.59b448",
        "name": "Convert ADC int to float",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "d60f5408.6fe028"
            ]
        ],
        "x": 469,
        "y": 1089.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "24f4db0e.011d8c",
        "height": "",
        "id": "d60f5408.6fe028",
        "label": "LDR",
        "layout": "",
        "name": "",
        "order": 1,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 715,
        "y": 1090.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "9ec02b94.d9e44",
        "name": "Toon current temp",
        "topic": "toon/input/currentTemp",
        "type": "mqtt in",
        "wires": [
            [
                "819223c9.d502a8"
            ]
        ],
        "x": 200,
        "y": 1157.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "616c682a.d22568",
        "height": "",
        "id": "819223c9.d502a8",
        "label": "Cur. temp",
        "layout": "",
        "name": "",
        "order": 1,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 716,
        "y": 1176,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "1bf7d257.8a230e",
        "name": "Toon power usage",
        "topic": "toon/input/powerUsage",
        "type": "mqtt in",
        "wires": [
            [
                "80144bc9.5ef56"
            ]
        ],
        "x": 199,
        "y": 1244.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}} Watt",
        "group": "616c682a.d22568",
        "height": "",
        "id": "80144bc9.5ef56",
        "label": "Power usage",
        "layout": "",
        "name": "",
        "order": "3",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 723,
        "y": 1252,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "36213986.622f66",
        "name": "Toon set point",
        "topic": "toon/input/currentSetpoint",
        "type": "mqtt in",
        "wires": [
            [
                "a072f905.03d948"
            ]
        ],
        "x": 187,
        "y": 1208,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "616c682a.d22568",
        "height": "",
        "id": "a072f905.03d948",
        "label": "Set point",
        "layout": "",
        "name": "",
        "order": "2",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 721,
        "y": 1215.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "ddfacc20.4a971",
        "name": "Toon gas usage",
        "topic": "toon/input/gasUsage",
        "type": "mqtt in",
        "wires": [
            [
                "f837d953.b8321"
            ]
        ],
        "x": 228,
        "y": 1326,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}} M<sup>3</sup>",
        "group": "616c682a.d22568",
        "height": "",
        "id": "f837d953.b8321",
        "label": "Gas usage ???",
        "layout": "",
        "name": "",
        "order": "4",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 772,
        "y": 1333.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "29c1c990.6b8986",
        "name": "NeoPixels onine",
        "qos": "2",
        "topic": "devices/0003376b/$online",
        "type": "mqtt in",
        "wires": [
            [
                "78c77c68.9db544"
            ]
        ],
        "x": 192,
        "y": 663.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "daa6126d.01c35",
        "name": "Relay online",
        "topic": "devices/0081b173/$online",
        "type": "mqtt in",
        "wires": [
            [
                "56b2da89.fd93fc"
            ]
        ],
        "x": 112,
        "y": 284.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "7fb8af9b.af152",
        "height": "",
        "id": "78c77c68.9db544",
        "label": "NeoPixels online",
        "layout": "",
        "name": "",
        "order": "2",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 539,
        "y": 660.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "e48d8dd4.b12e18",
        "height": "",
        "id": "56b2da89.fd93fc",
        "label": "Relay online",
        "layout": "",
        "name": "",
        "order": "7",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 437,
        "y": 379,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "87217b37.08b378",
        "name": "Sensors online",
        "topic": "devices/0085b208/$online",
        "type": "mqtt in",
        "wires": [
            [
                "e92ca02e.d47b4"
            ]
        ],
        "x": 113,
        "y": 227,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "e48d8dd4.b12e18",
        "height": "",
        "id": "e92ca02e.d47b4",
        "label": "Sensors online",
        "layout": "",
        "name": "",
        "order": "5",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 441,
        "y": 289.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "duration": "1000",
        "extend": true,
        "id": "c39339e0.fa89b8",
        "name": "",
        "op1": "true",
        "op1type": "val",
        "op2": "false",
        "op2type": "val",
        "reset": "",
        "type": "trigger",
        "units": "ms",
        "wires": [
            [
                "45c609ec.c63b6"
            ]
        ],
        "x": 370,
        "y": 499,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "if(msg.topic == \"neo_on\") {\n    context.neo_on_delay = msg.payload;\n    if(!context.neo_on_delay) {\n        var result = context.neo_on_buf;\n        context.neo_on_buf = null;\n        return {payload: result};\n    }\n} else {\n    if(context.neo_on_delay) {\n        context.neo_on_buf = msg.payload;\n    } else {\n        return msg;\n    }\n}\n\n",
        "id": "45c609ec.c63b6",
        "name": "buffer",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "55e650c.fe2e43"
            ]
        ],
        "x": 374,
        "y": 593,
        "z": "5d39f6e8.677b6"
    },
    {
        "duration": "1000",
        "extend": true,
        "id": "a8f30e6c.9741d",
        "name": "",
        "op1": "true",
        "op1type": "val",
        "op2": "false",
        "op2type": "val",
        "reset": "",
        "type": "trigger",
        "units": "ms",
        "wires": [
            [
                "67d50453.d076fc"
            ]
        ],
        "x": 468,
        "y": 1464,
        "z": "5d39f6e8.677b6"
    },
    {
        "group": "24f4db0e.011d8c",
        "height": "",
        "id": "d73bac27.181e08",
        "label": "LDR Updating",
        "name": "",
        "offcolor": "",
        "officon": "",
        "offvalue": "0",
        "offvalueType": "str",
        "oncolor": "",
        "onicon": "",
        "onvalue": "250",
        "onvalueType": "str",
        "order": "3",
        "passthru": true,
        "topic": "adc_interval",
        "type": "ui_switch",
        "width": "",
        "wires": [
            [
                "a8f30e6c.9741d",
                "df07bff5.7a5ea8"
            ]
        ],
        "x": 674,
        "y": 1567.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "if(msg.topic == \"adc_interval\") {\n    context.adc_interval_delay = msg.payload;\n    if(!context.adc_interval_delay) {\n        var result = context.adc_interval_buf;\n        context.adc_interval_buf = null;\n        return {payload: result};\n    }\n} else {\n    if(context.adc_interval_delay) {\n        context.adc_interval_buf = msg.payload;\n    } else {\n        return msg;\n    }\n}\n\n",
        "id": "67d50453.d076fc",
        "name": "buffer",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "d73bac27.181e08"
            ]
        ],
        "x": 472,
        "y": 1558,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "8bd14e77.90b08",
        "name": "ADC interval set",
        "qos": "2",
        "retain": "false",
        "topic": "devices/0003376b/adc/interval/set",
        "type": "mqtt out",
        "wires": [],
        "x": 1065,
        "y": 1580,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "ae05073.99dba78",
        "name": "ADC interval",
        "topic": "devices/0003376b/adc/interval",
        "type": "mqtt in",
        "wires": [
            [
                "67d50453.d076fc"
            ]
        ],
        "x": 199,
        "y": 1535,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "7c5c3b31.b11684",
        "name": "NeoPixels uptime",
        "topic": "devices/0003376b/$uptime",
        "type": "mqtt in",
        "wires": [
            [
                "a5fb1743.6e6ed"
            ]
        ],
        "x": 192,
        "y": 1716,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "var s = msg.payload;\nvar m = Math.floor(s / 60);\nvar s = s % 60;\nvar h = Math.floor(m / 60);\nvar  m = m % 60;\nvar  d = Math.floor(h / 24);\nvar  h = h % 24;\nmsg.payload = d +\"d \";\nmsg.payload += h + \"h \";\nmsg.payload += m + \"m \";\nmsg.payload += s + \"s\";\nreturn msg;",
        "id": "a5fb1743.6e6ed",
        "name": "Format seconds",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "fe5149df.a2a81"
            ]
        ],
        "x": 400,
        "y": 1735,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "7fb8af9b.af152",
        "height": "",
        "id": "fe5149df.a2a81",
        "label": "NeoPixels uptime",
        "layout": "",
        "name": "",
        "order": "5",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 719,
        "y": 1754,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "rbe",
        "gap": "",
        "id": "491fcf0e.b1bfb",
        "inout": "out",
        "name": "",
        "start": "",
        "type": "rbe",
        "wires": [
            [
                "1e3e14e8.86d773"
            ]
        ],
        "x": 782,
        "y": 615,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "rbe",
        "gap": "",
        "id": "df07bff5.7a5ea8",
        "inout": "out",
        "name": "",
        "start": "",
        "type": "rbe",
        "wires": [
            [
                "8bd14e77.90b08"
            ]
        ],
        "x": 887,
        "y": 1582,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "rbe",
        "gap": "",
        "id": "e3cc531e.376de",
        "inout": "out",
        "name": "",
        "start": "",
        "type": "rbe",
        "wires": [
            [
                "d569bfa8.bf8ab8"
            ]
        ],
        "x": 795,
        "y": 722,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "d6309e5c.2b8bb8",
        "name": "Sensors uptime",
        "topic": "devices/0085b208/$uptime",
        "type": "mqtt in",
        "wires": [
            [
                "665518f0.710428"
            ]
        ],
        "x": 197,
        "y": 1633,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "var s = msg.payload;\nvar m = Math.floor(s / 60);\nvar s = s % 60;\nvar h = Math.floor(m / 60);\nvar  m = m % 60;\nvar  d = Math.floor(h / 24);\nvar  h = h % 24;\nmsg.payload = d +\"d \";\nmsg.payload += h + \"h \";\nmsg.payload += m + \"m \";\nmsg.payload += s + \"s\";\nreturn msg;",
        "id": "665518f0.710428",
        "name": "Format seconds",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "43f4d323.cc054c"
            ]
        ],
        "x": 405,
        "y": 1652,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "e48d8dd4.b12e18",
        "height": "",
        "id": "43f4d323.cc054c",
        "label": "Sensors uptime",
        "layout": "",
        "name": "",
        "order": "6",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 714,
        "y": 1671,
        "z": "5d39f6e8.677b6"
    },
    {
        "chartType": "line",
        "group": "24f4db0e.011d8c",
        "height": "",
        "id": "38597b0c.264afc",
        "interpolate": "linear",
        "label": "",
        "name": "Temps",
        "nodata": "No Data",
        "order": "11",
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "type": "ui_chart",
        "width": "",
        "wires": [
            [],
            []
        ],
        "x": 966,
        "xformat": "%H:%M:%S",
        "y": 414,
        "ymax": "",
        "ymin": "",
        "z": "5d39f6e8.677b6"
    },
    {
        "drop": true,
        "id": "6f15d9f.72e5ea8",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "12",
        "rateUnits": "hour",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "38597b0c.264afc"
            ]
        ],
        "x": 739,
        "y": 437.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "drop": true,
        "id": "4a0b3fd6.ff035",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "12",
        "rateUnits": "hour",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "38597b0c.264afc"
            ]
        ],
        "x": 744,
        "y": 383,
        "z": "5d39f6e8.677b6"
    },
    {
        "active": false,
        "complete": "false",
        "console": "false",
        "id": "6994304.368015",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 311,
        "y": 61,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "2d574a7d.3068e6",
        "name": "Switches",
        "qos": "2",
        "topic": "devices/receiver/+/on",
        "type": "mqtt in",
        "wires": [
            [
                "f5fea1c9.e5474"
            ]
        ],
        "x": 188,
        "y": 1883,
        "z": "5d39f6e8.677b6"
    },
    {
        "checkall": "false",
        "id": "f5fea1c9.e5474",
        "name": "Topic switch",
        "outputs": 5,
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "devices/receiver/sw1/on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw2/on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw3/on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw4/on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw5/on",
                "vt": "str"
            }
        ],
        "type": "switch",
        "wires": [
            [
                "6d313151.b68358",
                "7bad2a61.d7184c"
            ],
            [
                "8d733835.2e0dd"
            ],
            [
                "39503b8b.6da1dc"
            ],
            [
                "a5682b97.6461a"
            ],
            [
                "1ff61dd2.9b6d7a"
            ]
        ],
        "x": 435,
        "y": 2052,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "17238813.443538",
        "height": "",
        "id": "6d313151.b68358",
        "label": "Switch 1",
        "layout": "",
        "name": "",
        "order": 1,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 856,
        "y": 1962,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "17238813.443538",
        "height": "",
        "id": "8d733835.2e0dd",
        "label": "Switch 2",
        "layout": "",
        "name": "",
        "order": "2",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 858,
        "y": 2033,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "17238813.443538",
        "height": "",
        "id": "39503b8b.6da1dc",
        "label": "Switch 3",
        "layout": "",
        "name": "",
        "order": "3",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 853,
        "y": 2102,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "17238813.443538",
        "height": "",
        "id": "a5682b97.6461a",
        "label": "Switch 4",
        "layout": "",
        "name": "",
        "order": "4",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 861,
        "y": 2171,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "17238813.443538",
        "height": "",
        "id": "1ff61dd2.9b6d7a",
        "label": "Switch 5",
        "layout": "",
        "name": "",
        "order": "5",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 864,
        "y": 2238,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "3fa85291.828ade",
        "name": "Doorbell",
        "qos": "2",
        "topic": "devices/receiver/doorbell/pushed",
        "type": "mqtt in",
        "wires": [
            [
                "1d7c748c.01615b"
            ]
        ],
        "x": 192,
        "y": 2337,
        "z": "5d39f6e8.677b6"
    },
    {
        "dname": "",
        "id": "1d7c748c.01615b",
        "name": "j.p.cranendonk@gmail.com",
        "port": "465",
        "server": "smtp.gmail.com",
        "type": "e-mail",
        "wires": [],
        "x": 534,
        "y": 2391,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "5ec487d3.a67578",
        "name": "Lightshow period",
        "qos": "2",
        "topic": "control/lightshow/period",
        "type": "mqtt in",
        "wires": [
            [
                "b1815f5e.49be58"
            ]
        ],
        "x": 171,
        "y": 944,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "msg.payload = msg.payload / 1000;\nreturn msg;",
        "id": "b1815f5e.49be58",
        "name": "DIV/1000",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "db54fe46.d764c8",
                "7bc08f86.80bbe"
            ]
        ],
        "x": 400,
        "y": 953,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "4b5d8095.1e374",
        "name": "Lightshow period set",
        "qos": "2",
        "retain": "false",
        "topic": "control/lightshow/period/set",
        "type": "mqtt out",
        "wires": [],
        "x": 1633,
        "y": 1167,
        "z": "5d39f6e8.677b6"
    },
    {
        "duration": "1000",
        "extend": true,
        "id": "67357954.ff1f48",
        "name": "",
        "op1": "true",
        "op1type": "str",
        "op2": "false",
        "op2type": "str",
        "reset": "",
        "type": "trigger",
        "units": "ms",
        "wires": [
            [
                "db54fe46.d764c8"
            ]
        ],
        "x": 884,
        "y": 955,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "if(msg.topic == \"period\") {\n    context.period_delay = msg.payload;\n    if(!context.period_delay) {\n        var result = context.period_buf;\n        context.period_buf = null;\n        return {payload: result};\n    }\n} else {\n    if(context.period_delay) {\n        context.period_buf = msg.payload;\n    } else {\n        return msg;\n    }\n}\n\n",
        "id": "db54fe46.d764c8",
        "name": "buffer",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "84f0c27a.bf4038"
            ]
        ],
        "x": 852,
        "y": 1045,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "rbe",
        "gap": "",
        "id": "86234484.4ee108",
        "inout": "out",
        "name": "",
        "start": "",
        "type": "rbe",
        "wires": [
            [
                "d55e52ab.924fe"
            ]
        ],
        "x": 1270,
        "y": 1071,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "msg.payload = msg.payload * 1000;\nreturn msg;",
        "id": "d55e52ab.924fe",
        "name": "MUL*1000",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "4b5d8095.1e374",
                "3ef54a8f.90224e"
            ]
        ],
        "x": 1442,
        "y": 1083,
        "z": "5d39f6e8.677b6"
    },
    {
        "active": false,
        "complete": "false",
        "console": "false",
        "id": "7bc08f86.80bbe",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 571,
        "y": 1035,
        "z": "5d39f6e8.677b6"
    },
    {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "3ef54a8f.90224e",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 1642,
        "y": 1065,
        "z": "5d39f6e8.677b6"
    },
    {
        "group": "7fb8af9b.af152",
        "height": "",
        "id": "84f0c27a.bf4038",
        "label": "Neopixels period",
        "max": "1000",
        "min": "4",
        "name": "",
        "order": "5",
        "passthru": true,
        "step": "",
        "topic": "period",
        "type": "ui_slider",
        "width": "",
        "wires": [
            [
                "86234484.4ee108",
                "67357954.ff1f48",
                "847b42.be071cc"
            ]
        ],
        "x": 1099,
        "y": 1169,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}} ms",
        "group": "7fb8af9b.af152",
        "height": "",
        "id": "847b42.be071cc",
        "label": "NeoPixels period",
        "layout": "",
        "name": "",
        "order": "6",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 1321,
        "y": 1259,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "3ae887ea.abd65",
        "name": "Switches",
        "qos": "2",
        "topic": "devices/receiver/+/+",
        "type": "mqtt in",
        "wires": [
            [
                "28d9f48e.bc30bc"
            ]
        ],
        "x": 191,
        "y": 2173,
        "z": "5d39f6e8.677b6"
    },
    {
        "checkall": "false",
        "id": "28d9f48e.bc30bc",
        "name": "Topic switch",
        "outputs": 6,
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "devices/receiver/sw1/pulse_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw1/pulse_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw2/pulse_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw2/pulse_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw3/pulse_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw3/pulse_off",
                "vt": "str"
            }
        ],
        "type": "switch",
        "wires": [
            [],
            [],
            [
                "da98fc9f.d42a6"
            ],
            [
                "2fa5868f.4e5202"
            ],
            [
                "71f4877f.5fa69"
            ],
            [
                "b25377ea.db111"
            ]
        ],
        "x": 401,
        "y": 2253,
        "z": "5d39f6e8.677b6"
    },
    {
        "drop": true,
        "id": "da98fc9f.d42a6",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "2",
        "rateUnits": "second",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "8d05062e.bd4a78"
            ]
        ],
        "x": 634,
        "y": 2293,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "7bad2a61.d7184c",
        "name": "NeoPixels on set",
        "qos": "2",
        "retain": "false",
        "topic": "devices/0003376b/light/on/set",
        "type": "mqtt out",
        "wires": [],
        "x": 818,
        "y": 1865,
        "z": "5d39f6e8.677b6"
    },
    {
        "drop": true,
        "id": "2fa5868f.4e5202",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "2",
        "rateUnits": "second",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "8d05062e.bd4a78"
            ]
        ],
        "x": 632,
        "y": 2348,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "7d8fe94e.9f5798",
        "name": "Modes",
        "qos": "2",
        "topic": "control/lightshow/mode/available",
        "type": "mqtt in",
        "wires": [
            [
                "8d05062e.bd4a78"
            ]
        ],
        "x": 591,
        "y": 2537,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "if(msg.topic == \"control/lightshow/mode/available\") {\n    context.lightshow_modes = msg.payload;\n} else {\n    if(!context.lightshow_modes) {\n        return;\n    }\n\n    if(!context.lightshow_mode) {\n        context.lightshow_mode = 0;\n    }\n\n    var modes = context.lightshow_modes.split(\",\"); \n\n    if(msg.topic == \"devices/receiver/sw2/pulse_on\") {\n        context.lightshow_mode--;\n    } else if(msg.topic == \"devices/receiver/sw2/pulse_off\") {\n        context.lightshow_mode++;\n    }\n    \n    if(context.lightshow_mode >= modes.length) {\n        context.lightshow_mode = modes.length - 1;\n    }\n    if(context.lightshow_mode < 0) {\n        context.lightshow_mode = 0;\n    }\n\n    return { \n        payload: modes[context.lightshow_mode],\n        topic: \"mode\" \n    }\n\n}\n",
        "id": "8d05062e.bd4a78",
        "name": "Mode selector",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "3cac6a2c.f29016"
            ]
        ],
        "x": 861,
        "y": 2451,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "3cac6a2c.f29016",
        "name": "Mode set",
        "qos": "2",
        "retain": "false",
        "topic": "control/lightshow/mode/set",
        "type": "mqtt out",
        "wires": [],
        "x": 1040,
        "y": 2451,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "if(msg.topic == \"control/lightshow/brightness\") {\n    context.lightshow_brightness = Number(msg.payload);\n} else {\n    if(!context.lightshow_brightness) {\n        context.lightshow_brightness = 0;\n    }\n\n    if(msg.topic == \"devices/receiver/sw3/pulse_on\") {\n        context.lightshow_brightness -= 50;\n    } else if(msg.topic == \"devices/receiver/sw3/pulse_off\") {\n        context.lightshow_brightness += 50;\n    }\n    \n    if(context.lightshow_brightness > 1000) {\n        context.lightshow_brightness = 1000;\n    }\n    if(context.lightshow_brightness < 0) {\n        context.lightshow_brightness = 0;\n    }\n\n    return { \n        payload: context.lightshow_brightness,\n        topic: \"brightness\" \n    }\n\n}\n",
        "id": "182f2e8f.83e0b9",
        "name": "Brightness",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "d569bfa8.bf8ab8"
            ]
        ],
        "x": 808,
        "y": 2622,
        "z": "5d39f6e8.677b6"
    },
    {
        "drop": true,
        "id": "b25377ea.db111",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "4",
        "rateUnits": "second",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "182f2e8f.83e0b9"
            ]
        ],
        "x": 587,
        "y": 2682,
        "z": "5d39f6e8.677b6"
    },
    {
        "drop": true,
        "id": "71f4877f.5fa69",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "4",
        "rateUnits": "second",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "182f2e8f.83e0b9"
            ]
        ],
        "x": 593,
        "y": 2612,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "e2ad1b35.cf1978",
        "name": "Bedroom fan state",
        "topic": "devices/0081b173/light/on",
        "type": "mqtt in",
        "wires": [
            [
                "190b64cb.3348f3"
            ]
        ],
        "x": 180,
        "y": 440,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "e48d8dd4.b12e18",
        "height": "",
        "id": "190b64cb.3348f3",
        "label": "Fan on",
        "layout": "",
        "name": "",
        "order": "4",
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 556,
        "y": 490,
        "z": "5d39f6e8.677b6"
    },
    {
        "chartType": "line",
        "group": "58ffad67.aac28c",
        "height": "0",
        "id": "ff021458.8d7da",
        "interpolate": "linear",
        "label": "",
        "legend": "true",
        "name": "Temps Big Bedroom",
        "nodata": "No Data",
        "order": 5,
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "type": "ui_chart",
        "width": "0",
        "wires": [
            [],
            []
        ],
        "x": 1012,
        "xformat": "%H:%M:%S",
        "y": 344,
        "ymax": "",
        "ymin": "",
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "58ffad67.aac28c",
        "height": "1",
        "id": "77b006c8.abcb58",
        "label": "Inside temperature",
        "layout": "col-center",
        "name": "",
        "order": 1,
        "type": "ui_text",
        "width": "6",
        "wires": [],
        "x": 1032,
        "y": 157,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "58ffad67.aac28c",
        "height": "1",
        "id": "690d6f94.b28c58",
        "label": "Outside temperature",
        "layout": "col-center",
        "name": "",
        "order": 2,
        "type": "ui_text",
        "width": "6",
        "wires": [],
        "x": 1032,
        "y": 213.5,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "58ffad67.aac28c",
        "height": "1",
        "id": "8c7388df.488dd",
        "label": "Temperature difference",
        "layout": "col-center",
        "name": "",
        "order": 3,
        "type": "ui_text",
        "width": "6",
        "wires": [],
        "x": 1002,
        "y": 93,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "58ffad67.aac28c",
        "height": "1",
        "id": "60084841.ca0c9",
        "label": "Window",
        "layout": "col-center",
        "name": "",
        "order": 4,
        "type": "ui_text",
        "width": "6",
        "wires": [],
        "x": 1054,
        "y": 302,
        "z": "5d39f6e8.677b6"
    }
]
