flows_raspberrypi.json
[
    {
        "id": "5d39f6e8.677b6",
        "label": "Flow 1",
        "type": "tab"
    },
    {
        "disabled": false,
        "id": "8986fa08.d4999",
        "info": "",
        "label": "Doorbell",
        "type": "tab"
    },
    {
        "disabled": false,
        "id": "e8892798.dbab28",
        "info": "",
        "label": "Desktop Toon",
        "type": "tab"
    },
    {
        "disabled": false,
        "id": "9122054e.29969",
        "info": "",
        "label": "Neopixels",
        "type": "tab"
    },
    {
        "disabled": false,
        "id": "459a3a0f.cadb4c",
        "info": "",
        "label": "Temperature control",
        "type": "tab"
    },
    {
        "id": "f7c3f5b1.15af3",
        "in": [
            {
                "wires": [
                    {
                        "id": "ea4d6784.fc38b"
                    }
                ],
                "x": 40,
                "y": 180
            }
        ],
        "info": "Connect both the external input and\nthe control output to the input.\nMake sure the control has topic 'control'\nThe output should be connected to the input\nof the control.",
        "name": "BufferFlow",
        "out": [
            {
                "wires": [
                    {
                        "id": "230bc5d2.7396a2",
                        "port": 0
                    }
                ],
                "x": 880,
                "y": 180
            }
        ],
        "type": "subflow"
    },
    {
        "birthPayload": "",
        "birthQos": "0",
        "birthRetain": null,
        "birthTopic": "",
        "broker": "raspberrypi",
        "cleansession": true,
        "clientid": "",
        "compatmode": true,
        "id": "2a729cbc.1e292c",
        "keepalive": "60",
        "port": "1883",
        "type": "mqtt-broker",
        "usetls": false,
        "verifyservercert": true,
        "willPayload": "",
        "willQos": "0",
        "willRetain": null,
        "willTopic": "",
        "z": "5d39f6e8.677b6"
    },
    {
        "id": "df7451c1.bfdb28",
        "site": {
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "hideToolbar": "false",
            "name": "Node-RED Dashboard",
            "sizes": {
                "cx": 6,
                "cy": 6,
                "gx": 6,
                "gy": 6,
                "px": 0,
                "py": 0,
                "sx": 48,
                "sy": 48
            }
        },
        "theme": {
            "customTheme": {
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "default": "#4B7930",
                "name": "Untitled Theme 1"
            },
            "darkTheme": {
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "default": "#097479",
                "edited": false
            },
            "lightTheme": {
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "default": "#0094CE",
                "edited": true,
                "reset": false
            },
            "name": "theme-light",
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "edited": false,
                    "value": "#0094CE"
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                },
                "group-backgroundColor": {
                    "edited": false,
                    "value": "#ffffff"
                },
                "group-borderColor": {
                    "edited": false,
                    "value": "#ffffff"
                },
                "group-textColor": {
                    "edited": false,
                    "value": "#1bbfff"
                },
                "page-backgroundColor": {
                    "edited": false,
                    "value": "#fafafa"
                },
                "page-sidebar-backgroundColor": {
                    "edited": false,
                    "value": "#ffffff"
                },
                "page-titlebar-backgroundColor": {
                    "edited": false,
                    "value": "#0094CE"
                },
                "widget-backgroundColor": {
                    "edited": false,
                    "value": "#0094ce"
                },
                "widget-borderColor": {
                    "edited": false,
                    "value": "#ffffff"
                },
                "widget-textColor": {
                    "edited": false,
                    "value": "#111111"
                }
            }
        },
        "type": "ui_base"
    },
    {
        "icon": "dashboard",
        "id": "5cee9693.358b08",
        "name": "Temps",
        "order": 3,
        "type": "ui_tab",
        "z": ""
    },
    {
        "disp": true,
        "id": "58ffad67.aac28c",
        "name": "Bedroom",
        "order": 1,
        "tab": "5cee9693.358b08",
        "type": "ui_group",
        "width": "24",
        "z": ""
    },
    {
        "birthPayload": "",
        "birthQos": "0",
        "birthTopic": "",
        "broker": "raspberrypi",
        "cleansession": true,
        "clientid": "",
        "closePayload": "",
        "closeQos": "0",
        "closeTopic": "",
        "compatmode": true,
        "id": "69f5a3df.5a8b0c",
        "keepalive": "60",
        "name": "PI",
        "port": "1883",
        "type": "mqtt-broker",
        "usetls": false,
        "willPayload": "",
        "willQos": "0",
        "willTopic": "",
        "z": ""
    },
    {
        "icon": "dashboard",
        "id": "b47e83d3.de77e",
        "name": "Dashboard",
        "order": 1,
        "type": "ui_tab",
        "z": ""
    },
    {
        "disp": true,
        "id": "ddd0fc4c.8a5e8",
        "name": "Bedroom",
        "order": 2,
        "tab": "b47e83d3.de77e",
        "type": "ui_group",
        "width": "6",
        "z": ""
    },
    {
        "disp": true,
        "id": "42b6ae00.90b7d4",
        "name": "Toon",
        "order": 3,
        "tab": "b47e83d3.de77e",
        "type": "ui_group",
        "width": "6",
        "z": ""
    },
    {
        "disp": true,
        "id": "c8a54de6.369ff",
        "name": "NeoPixels",
        "order": 4,
        "tab": "b47e83d3.de77e",
        "type": "ui_group",
        "width": "6",
        "z": ""
    },
    {
        "disp": true,
        "id": "2d022f29.4a0f6",
        "name": "Switches",
        "order": 5,
        "tab": "b47e83d3.de77e",
        "type": "ui_group",
        "width": "6",
        "z": ""
    },
    {
        "disp": true,
        "id": "a8db762f.1aeb8",
        "name": "Desk",
        "order": 1,
        "tab": "b47e83d3.de77e",
        "type": "ui_group",
        "width": "6",
        "z": ""
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "e3a35269.f0e2a8",
        "name": "ADC value",
        "topic": "devices/0003376b/adc/value",
        "type": "mqtt in",
        "wires": [
            [
                "e3c53bf6.59b448"
            ]
        ],
        "x": 120,
        "y": 60,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "var value = msg.payload / 1024.0;\nmsg.payload = value.toFixed(3);\nreturn msg;\n",
        "id": "e3c53bf6.59b448",
        "name": "Convert ADC int to float",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "d60f5408.6fe028"
            ]
        ],
        "x": 390,
        "y": 60,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "a8db762f.1aeb8",
        "height": "",
        "id": "d60f5408.6fe028",
        "label": "LDR",
        "layout": "",
        "name": "",
        "order": 1,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 670,
        "y": 60,
        "z": "5d39f6e8.677b6"
    },
    {
        "decouple": "false",
        "group": "a8db762f.1aeb8",
        "height": "",
        "id": "d73bac27.181e08",
        "label": "LDR Updating",
        "name": "",
        "offcolor": "",
        "officon": "",
        "offvalue": "0",
        "offvalueType": "str",
        "oncolor": "",
        "onicon": "",
        "onvalue": "250",
        "onvalueType": "str",
        "order": 2,
        "passthru": true,
        "topic": "control",
        "type": "ui_switch",
        "width": "",
        "wires": [
            [
                "df07bff5.7a5ea8",
                "12f0a97b.0a7c87"
            ]
        ],
        "x": 480,
        "y": 200,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "8bd14e77.90b08",
        "name": "ADC interval set",
        "qos": "2",
        "retain": "false",
        "topic": "devices/0003376b/adc/interval/set",
        "type": "mqtt out",
        "wires": [],
        "x": 980,
        "y": 200,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "ae05073.99dba78",
        "name": "ADC interval",
        "qos": "2",
        "topic": "devices/0003376b/adc/interval",
        "type": "mqtt in",
        "wires": [
            [
                "12f0a97b.0a7c87"
            ]
        ],
        "x": 130,
        "y": 120,
        "z": "5d39f6e8.677b6"
    },
    {
        "func": "rbe",
        "gap": "",
        "id": "df07bff5.7a5ea8",
        "inout": "out",
        "name": "",
        "start": "",
        "type": "rbe",
        "wires": [
            [
                "8bd14e77.90b08"
            ]
        ],
        "x": 690,
        "y": 200,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "2d574a7d.3068e6",
        "name": "Switches",
        "qos": "2",
        "topic": "devices/receiver/+/on",
        "type": "mqtt in",
        "wires": [
            [
                "f5fea1c9.e5474"
            ]
        ],
        "x": 120,
        "y": 420,
        "z": "5d39f6e8.677b6"
    },
    {
        "checkall": "false",
        "id": "f5fea1c9.e5474",
        "name": "Topic switch",
        "outputs": 5,
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "devices/receiver/sw1/on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw2/on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw3/on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw4/on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw5/on",
                "vt": "str"
            }
        ],
        "type": "switch",
        "wires": [
            [
                "6d313151.b68358"
            ],
            [
                "8d733835.2e0dd"
            ],
            [
                "39503b8b.6da1dc"
            ],
            [
                "a5682b97.6461a"
            ],
            [
                "1ff61dd2.9b6d7a"
            ]
        ],
        "x": 430,
        "y": 420,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "2d022f29.4a0f6",
        "height": "",
        "id": "6d313151.b68358",
        "label": "Switch 1",
        "layout": "",
        "name": "",
        "order": 1,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 780,
        "y": 340,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "2d022f29.4a0f6",
        "height": "",
        "id": "8d733835.2e0dd",
        "label": "Switch 2",
        "layout": "",
        "name": "",
        "order": 2,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 780,
        "y": 380,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "2d022f29.4a0f6",
        "height": "",
        "id": "39503b8b.6da1dc",
        "label": "Switch 3",
        "layout": "",
        "name": "",
        "order": 3,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 780,
        "y": 420,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "2d022f29.4a0f6",
        "height": "",
        "id": "a5682b97.6461a",
        "label": "Switch 4",
        "layout": "",
        "name": "",
        "order": 4,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 780,
        "y": 460,
        "z": "5d39f6e8.677b6"
    },
    {
        "format": "{{msg.payload}}",
        "group": "2d022f29.4a0f6",
        "height": "",
        "id": "1ff61dd2.9b6d7a",
        "label": "Switch 5",
        "layout": "",
        "name": "",
        "order": 5,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 780,
        "y": 500,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "c4d84721.57b068",
        "name": "Doorbell",
        "qos": "2",
        "topic": "devices/receiver/doorbell/pushed",
        "type": "mqtt in",
        "wires": [
            [
                "a9244488.d9968"
            ]
        ],
        "x": 180,
        "y": 80,
        "z": "8986fa08.d4999"
    },
    {
        "dname": "",
        "id": "a9244488.d9968",
        "name": "j.p.cranendonk@gmail.com",
        "port": "465",
        "secure": true,
        "server": "smtp.gmail.com",
        "tls": false,
        "type": "e-mail",
        "wires": [],
        "x": 460,
        "y": 80,
        "z": "8986fa08.d4999"
    },
    {
        "crontab": "",
        "id": "14fe4241.fdab76",
        "name": "Test",
        "once": false,
        "onceDelay": 0.1,
        "payload": "true",
        "payloadType": "str",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "3b9016f1.6d2232"
            ]
        ],
        "x": 170,
        "y": 200,
        "z": "8986fa08.d4999"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "3b9016f1.6d2232",
        "name": "",
        "qos": "2",
        "retain": "false",
        "topic": "devices/receiver/doorbell/pushed",
        "type": "mqtt out",
        "wires": [],
        "x": 440,
        "y": 200,
        "z": "8986fa08.d4999"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "5a3c594e.4d6a1",
        "name": "Toon current temp",
        "qos": "2",
        "topic": "toon/input/currentTemp",
        "type": "mqtt in",
        "wires": [
            [
                "49926c1b.2dd054",
                "deeb1eaf.66a268"
            ]
        ],
        "x": 110,
        "y": 60,
        "z": "e8892798.dbab28"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "42b6ae00.90b7d4",
        "height": "",
        "id": "49926c1b.2dd054",
        "label": "Cur. temp",
        "layout": "",
        "name": "",
        "order": 1,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 880,
        "y": 60,
        "z": "e8892798.dbab28"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "da38e2ef.127a98",
        "name": "Toon power usage",
        "qos": "2",
        "topic": "toon/input/powerUsage",
        "type": "mqtt in",
        "wires": [
            [
                "9631dd6c.4fd1c8",
                "deeb1eaf.66a268"
            ]
        ],
        "x": 110,
        "y": 180,
        "z": "e8892798.dbab28"
    },
    {
        "format": "{{msg.payload}} Watt",
        "group": "42b6ae00.90b7d4",
        "height": "",
        "id": "9631dd6c.4fd1c8",
        "label": "Power usage",
        "layout": "",
        "name": "",
        "order": 3,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 870,
        "y": 180,
        "z": "e8892798.dbab28"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "32e1e604.9d7d9a",
        "name": "Toon set point",
        "qos": "2",
        "topic": "toon/input/currentSetpoint",
        "type": "mqtt in",
        "wires": [
            [
                "575e2c9e.5440a4",
                "deeb1eaf.66a268"
            ]
        ],
        "x": 90,
        "y": 120,
        "z": "e8892798.dbab28"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "42b6ae00.90b7d4",
        "height": "",
        "id": "575e2c9e.5440a4",
        "label": "Set point",
        "layout": "",
        "name": "",
        "order": 2,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 880,
        "y": 120,
        "z": "e8892798.dbab28"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "21778895.de6c08",
        "name": "Toon gas usage",
        "qos": "2",
        "topic": "toon/input/gasUsage",
        "type": "mqtt in",
        "wires": [
            [
                "f78ca4ca.c90b68",
                "deeb1eaf.66a268"
            ]
        ],
        "x": 100,
        "y": 240,
        "z": "e8892798.dbab28"
    },
    {
        "format": "{{msg.payload}} M<sup>3</sup>",
        "group": "42b6ae00.90b7d4",
        "height": "",
        "id": "f78ca4ca.c90b68",
        "label": "Gas usage ???",
        "layout": "",
        "name": "",
        "order": 4,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 860,
        "y": 240,
        "z": "e8892798.dbab28"
    },
    {
        "group": "c8a54de6.369ff",
        "height": "",
        "id": "96da407e.693bd",
        "label": "NeoPixels brightness",
        "max": "1000",
        "min": 0,
        "name": "",
        "order": 3,
        "passthru": true,
        "step": "",
        "topic": "control",
        "type": "ui_slider",
        "width": "",
        "wires": [
            [
                "916ff53a.0cf9",
                "6b6427a5.2800c8"
            ]
        ],
        "x": 580,
        "y": 680,
        "z": "9122054e.29969"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "c7b94c19.990b2",
        "name": "Lightshow brightness set",
        "qos": "2",
        "retain": "false",
        "topic": "control/lightshow/brightness/set",
        "type": "mqtt out",
        "wires": [],
        "x": 990,
        "y": 680,
        "z": "9122054e.29969"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "76d31ffb.217c88",
        "name": "Lightshow brightness",
        "qos": "2",
        "topic": "control/lightshow/brightness",
        "type": "mqtt in",
        "wires": [
            [
                "abc768.a7798098",
                "84ccb865.9d687",
                "6b6427a5.2800c8"
            ]
        ],
        "x": 120,
        "y": 680,
        "z": "9122054e.29969"
    },
    {
        "format": "{{msg.payload}}",
        "group": "c8a54de6.369ff",
        "height": "",
        "id": "abc768.a7798098",
        "label": "NeoPixels brightness",
        "layout": "",
        "name": "",
        "order": 4,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 580,
        "y": 740,
        "z": "9122054e.29969"
    },
    {
        "func": "rbe",
        "gap": "",
        "id": "916ff53a.0cf9",
        "inout": "out",
        "name": "",
        "start": "",
        "type": "rbe",
        "wires": [
            [
                "c7b94c19.990b2"
            ]
        ],
        "x": 790,
        "y": 680,
        "z": "9122054e.29969"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "bcf8dcb6.286228",
        "name": "Switches",
        "qos": "2",
        "topic": "devices/receiver/+/+",
        "type": "mqtt in",
        "wires": [
            [
                "cfdf0ee.92e14f"
            ]
        ],
        "x": 80,
        "y": 320,
        "z": "9122054e.29969"
    },
    {
        "checkall": "false",
        "id": "cfdf0ee.92e14f",
        "name": "Topic switch",
        "outputs": 6,
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "devices/receiver/sw1/pulse_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw1/pulse_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw2/pulse_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw2/pulse_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw3/pulse_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "devices/receiver/sw3/pulse_off",
                "vt": "str"
            }
        ],
        "type": "switch",
        "wires": [
            [],
            [],
            [
                "ed72dcb2.f574e8"
            ],
            [
                "5856ee01.86b508"
            ],
            [
                "ea531c98.d9c8"
            ],
            [
                "e316f32b.1c3e98"
            ]
        ],
        "x": 290,
        "y": 320,
        "z": "9122054e.29969"
    },
    {
        "drop": true,
        "id": "ed72dcb2.f574e8",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "2",
        "rateUnits": "second",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "7ab5ba66.a60f8c"
            ]
        ],
        "x": 510,
        "y": 220,
        "z": "9122054e.29969"
    },
    {
        "drop": true,
        "id": "5856ee01.86b508",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "2",
        "rateUnits": "second",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "7ab5ba66.a60f8c"
            ]
        ],
        "x": 510,
        "y": 280,
        "z": "9122054e.29969"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "d06c9c5d.fe3d7",
        "name": "Modes",
        "qos": "2",
        "topic": "control/lightshow/mode/available",
        "type": "mqtt in",
        "wires": [
            [
                "7ab5ba66.a60f8c"
            ]
        ],
        "x": 590,
        "y": 160,
        "z": "9122054e.29969"
    },
    {
        "func": "if(msg.topic == \"control/lightshow/mode/available\") {\n    context.lightshow_modes = msg.payload;\n} else {\n    if(!context.lightshow_modes) {\n        return;\n    }\n\n    if(!context.lightshow_mode) {\n        context.lightshow_mode = 0;\n    }\n\n    var modes = context.lightshow_modes.split(\",\"); \n\n    if(msg.topic == \"devices/receiver/sw2/pulse_on\") {\n        context.lightshow_mode--;\n    } else if(msg.topic == \"devices/receiver/sw2/pulse_off\") {\n        context.lightshow_mode++;\n    }\n    \n    if(context.lightshow_mode >= modes.length) {\n        context.lightshow_mode = modes.length - 1;\n    }\n    if(context.lightshow_mode < 0) {\n        context.lightshow_mode = 0;\n    }\n\n    return { \n        payload: modes[context.lightshow_mode],\n        topic: \"mode\" \n    }\n\n}\n",
        "id": "7ab5ba66.a60f8c",
        "name": "Mode selector",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "4c4ca351.b7673c"
            ]
        ],
        "x": 780,
        "y": 260,
        "z": "9122054e.29969"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "4c4ca351.b7673c",
        "name": "Mode set",
        "qos": "2",
        "retain": "false",
        "topic": "control/lightshow/mode/set",
        "type": "mqtt out",
        "wires": [],
        "x": 1000,
        "y": 260,
        "z": "9122054e.29969"
    },
    {
        "func": "if(msg.topic == \"control/lightshow/brightness\") {\n    context.lightshow_brightness = Number(msg.payload);\n} else {\n    if(!context.lightshow_brightness) {\n        context.lightshow_brightness = 0;\n    }\n\n    if(msg.topic == \"devices/receiver/sw3/pulse_on\") {\n        context.lightshow_brightness -= 50;\n    } else if(msg.topic == \"devices/receiver/sw3/pulse_off\") {\n        context.lightshow_brightness += 50;\n    }\n    \n    if(context.lightshow_brightness > 1000) {\n        context.lightshow_brightness = 1000;\n    }\n    if(context.lightshow_brightness < 0) {\n        context.lightshow_brightness = 0;\n    }\n\n    return { \n        payload: context.lightshow_brightness,\n        topic: \"brightness\" \n    }\n\n}\n",
        "id": "84ccb865.9d687",
        "name": "Brightness",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "c7b94c19.990b2"
            ]
        ],
        "x": 590,
        "y": 480,
        "z": "9122054e.29969"
    },
    {
        "drop": true,
        "id": "e316f32b.1c3e98",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "4",
        "rateUnits": "second",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "84ccb865.9d687"
            ]
        ],
        "x": 510,
        "y": 400,
        "z": "9122054e.29969"
    },
    {
        "drop": true,
        "id": "ea531c98.d9c8",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "4",
        "rateUnits": "second",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "84ccb865.9d687"
            ]
        ],
        "x": 510,
        "y": 360,
        "z": "9122054e.29969"
    },
    {
        "func": "msg.payload = msg.payload / 1000;\nreturn msg;",
        "id": "58ce017f.25cf98",
        "name": "DIV/1000",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "ca477a98.62fb98"
            ]
        ],
        "x": 300,
        "y": 900,
        "z": "9122054e.29969"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "8cdd6b92.5f4b9",
        "name": "Lightshow period",
        "qos": "2",
        "topic": "control/lightshow/period",
        "type": "mqtt in",
        "wires": [
            [
                "58ce017f.25cf98"
            ]
        ],
        "x": 100,
        "y": 900,
        "z": "9122054e.29969"
    },
    {
        "group": "c8a54de6.369ff",
        "height": "",
        "id": "a4bb9eac.deacf",
        "label": "Neopixels period",
        "max": "1000",
        "min": "4",
        "name": "",
        "order": 5,
        "passthru": true,
        "step": "",
        "topic": "control",
        "type": "ui_slider",
        "width": "",
        "wires": [
            [
                "d419c385.5ddb88",
                "d56a4401.f3bf68",
                "ca477a98.62fb98"
            ]
        ],
        "x": 590,
        "y": 900,
        "z": "9122054e.29969"
    },
    {
        "func": "rbe",
        "gap": "",
        "id": "d419c385.5ddb88",
        "inout": "out",
        "name": "",
        "start": "",
        "type": "rbe",
        "wires": [
            [
                "c21b7cad.94af88"
            ]
        ],
        "x": 530,
        "y": 980,
        "z": "9122054e.29969"
    },
    {
        "format": "{{msg.payload}} ms",
        "group": "c8a54de6.369ff",
        "height": "",
        "id": "d56a4401.f3bf68",
        "label": "NeoPixels period",
        "layout": "",
        "name": "",
        "order": 6,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 910,
        "y": 900,
        "z": "9122054e.29969"
    },
    {
        "func": "msg.payload = msg.payload * 1000;\nreturn msg;",
        "id": "c21b7cad.94af88",
        "name": "MUL*1000",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "f4047c92.152c1"
            ]
        ],
        "x": 690,
        "y": 980,
        "z": "9122054e.29969"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "f4047c92.152c1",
        "name": "Lightshow period set",
        "qos": "2",
        "retain": "false",
        "topic": "control/lightshow/period/set",
        "type": "mqtt out",
        "wires": [],
        "x": 900,
        "y": 980,
        "z": "9122054e.29969"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "cf41f475.a86388",
        "name": "Switch 1",
        "qos": "2",
        "topic": "devices/receiver/sw1/on",
        "type": "mqtt in",
        "wires": [
            [
                "6952c8aa.dc7d6"
            ]
        ],
        "x": 100,
        "y": 1180,
        "z": "9122054e.29969"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "6952c8aa.dc7d6",
        "name": "NeoPixels on set",
        "qos": "2",
        "retain": "false",
        "topic": "devices/0003376b/light/on/set",
        "type": "mqtt out",
        "wires": [],
        "x": 970,
        "y": 1180,
        "z": "9122054e.29969"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "e9e43a0f.2b041",
        "name": "NeoPixels uptime",
        "topic": "devices/0003376b/$uptime",
        "type": "mqtt in",
        "wires": [
            [
                "aec9db8e.b966a"
            ]
        ],
        "x": 100,
        "y": 80,
        "z": "9122054e.29969"
    },
    {
        "func": "var s = msg.payload;\nvar m = Math.floor(s / 60);\nvar s = s % 60;\nvar h = Math.floor(m / 60);\nvar  m = m % 60;\nvar  d = Math.floor(h / 24);\nvar  h = h % 24;\nmsg.payload = d +\"d \";\nmsg.payload += h + \"h \";\nmsg.payload += m + \"m \";\nmsg.payload += s + \"s\";\nreturn msg;",
        "id": "aec9db8e.b966a",
        "name": "Format seconds",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "bdc2750a.19d32"
            ]
        ],
        "x": 360,
        "y": 80,
        "z": "9122054e.29969"
    },
    {
        "format": "{{msg.payload}}",
        "group": "c8a54de6.369ff",
        "height": "",
        "id": "bdc2750a.19d32",
        "label": "NeoPixels uptime",
        "layout": "",
        "name": "",
        "order": 8,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 630,
        "y": 80,
        "z": "9122054e.29969"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "ca16c2ed.464bd8",
        "name": "NeoPixels onine",
        "qos": "2",
        "topic": "devices/0003376b/$online",
        "type": "mqtt in",
        "wires": [
            [
                "8aae44ac.f2ab7"
            ]
        ],
        "x": 100,
        "y": 40,
        "z": "9122054e.29969"
    },
    {
        "format": "{{msg.payload}}",
        "group": "c8a54de6.369ff",
        "height": "",
        "id": "8aae44ac.f2ab7",
        "label": "NeoPixels online",
        "layout": "",
        "name": "",
        "order": 2,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 640,
        "y": 40,
        "z": "9122054e.29969"
    },
    {
        "decouple": "false",
        "group": "c8a54de6.369ff",
        "height": "",
        "id": "2c680e99.70e122",
        "label": "NeoPixels On",
        "name": "",
        "offcolor": "",
        "officon": "",
        "offvalue": "false",
        "offvalueType": "str",
        "oncolor": "",
        "onicon": "",
        "onvalue": "true",
        "onvalueType": "str",
        "order": 1,
        "passthru": true,
        "topic": "control",
        "type": "ui_switch",
        "width": "",
        "wires": [
            [
                "28f1fc7b.ad001c",
                "267712fa.70c8ee"
            ]
        ],
        "x": 540,
        "y": 1340,
        "z": "9122054e.29969"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "3657984a.46d8b8",
        "name": "NeoPixels state",
        "qos": "2",
        "topic": "devices/0003376b/light/on",
        "type": "mqtt in",
        "wires": [
            [
                "267712fa.70c8ee"
            ]
        ],
        "x": 120,
        "y": 1340,
        "z": "9122054e.29969"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "8ff7841b.88307",
        "name": "NeoPixels on set",
        "qos": "2",
        "retain": "false",
        "topic": "devices/0003376b/light/on/set",
        "type": "mqtt out",
        "wires": [],
        "x": 970,
        "y": 1340,
        "z": "9122054e.29969"
    },
    {
        "func": "rbe",
        "gap": "",
        "id": "28f1fc7b.ad001c",
        "inout": "out",
        "name": "",
        "start": "",
        "type": "rbe",
        "wires": [
            [
                "8ff7841b.88307"
            ]
        ],
        "x": 750,
        "y": 1340,
        "z": "9122054e.29969"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "ddd0fc4c.8a5e8",
        "height": "",
        "id": "604cef75.b38078",
        "label": "Inside temperature",
        "layout": "",
        "name": "",
        "order": 1,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 770,
        "y": 520,
        "z": "459a3a0f.cadb4c"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "ddd0fc4c.8a5e8",
        "height": "",
        "id": "3cbd8bbc.be75a4",
        "label": "Outside temperature",
        "layout": "",
        "name": "",
        "order": 2,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 760,
        "y": 580,
        "z": "459a3a0f.cadb4c"
    },
    {
        "format": "{{msg.payload}}",
        "group": "ddd0fc4c.8a5e8",
        "height": "",
        "id": "a40ae4f5.d4a528",
        "label": "Window",
        "layout": "",
        "name": "",
        "order": 4,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 800,
        "y": 300,
        "z": "459a3a0f.cadb4c"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "83ac489b.6336",
        "name": "Bedroom window state",
        "qos": "2",
        "topic": "control/window/status",
        "type": "mqtt in",
        "wires": [
            [
                "a40ae4f5.d4a528",
                "3e06b492.64bde4"
            ]
        ],
        "x": 120,
        "y": 300,
        "z": "459a3a0f.cadb4c"
    },
    {
        "func": "if(msg.topic == \"bedroom_inside\") {\n    context.temp_inside = msg.payload;\n}\nif(msg.topic == \"bedroom_outside\") {\n    context.temp_outside = msg.payload;\n}\nreturn { \n    payload: context.temp_outside - context.temp_inside,\n    topic: \"bedroom_diff\" \n}\n\nreturn msg;\n",
        "id": "5917594a.b2888",
        "name": "Get temp diff",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "f6b45c8d.dbadf",
                "11c77aec.a29e85"
            ]
        ],
        "x": 450,
        "y": 480,
        "z": "459a3a0f.cadb4c"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "ddd0fc4c.8a5e8",
        "height": "",
        "id": "f6b45c8d.dbadf",
        "label": "Temperature difference",
        "layout": "",
        "name": "",
        "order": 3,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 750,
        "y": 380,
        "z": "459a3a0f.cadb4c"
    },
    {
        "func": "if(msg.topic == \"devices/0085b208/f6011581e788ff28/temperature\") {\n    msg.topic = \"bedroom_inside\";\n}\nif(msg.topic == \"devices/0085b208/c480000003e30d28/temperature\") {\n    msg.topic = \"bedroom_outside\";\n}\nif(msg.topic == \"devices/00d39493/0f041654733cff28/temperature\") {\n    msg.topic = \"new1\";\n}\nif(msg.topic == \"devices/00d39493/f6041653f20bff28/temperature\") {\n    msg.topic = \"new2\";\n}\n\nreturn msg;",
        "id": "f97ef03a.7bc198",
        "name": "Rename topic",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "9fcacdd2.81043",
                "5917594a.b2888"
            ]
        ],
        "x": 120,
        "y": 560,
        "z": "459a3a0f.cadb4c"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "c7709fe7.534e8",
        "name": "Temps",
        "qos": "2",
        "topic": "devices/+/+/temperature",
        "type": "mqtt in",
        "wires": [
            [
                "f97ef03a.7bc198"
            ]
        ],
        "x": 70,
        "y": 460,
        "z": "459a3a0f.cadb4c"
    },
    {
        "checkall": "false",
        "id": "9fcacdd2.81043",
        "name": "Topic switch",
        "outputs": 4,
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "bedroom_inside",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bedroom_outside",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "new1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "new2",
                "vt": "str"
            }
        ],
        "type": "switch",
        "wires": [
            [
                "604cef75.b38078",
                "6157c121.0384c",
                "9f5ee269.aa415"
            ],
            [
                "3cbd8bbc.be75a4",
                "2d62e132.9fb69e",
                "e94bf9b0.85f8b"
            ],
            [
                "f78eacdf.866578"
            ],
            [
                "4a79422.e21503c"
            ]
        ],
        "x": 130,
        "y": 700,
        "z": "459a3a0f.cadb4c"
    },
    {
        "chartType": "line",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "cutout": "",
        "dot": false,
        "group": "ddd0fc4c.8a5e8",
        "height": "0",
        "id": "e3fef250.c6848",
        "interpolate": "linear",
        "label": "",
        "name": "Temps",
        "nodata": "No Data",
        "order": 9,
        "outputs": 2,
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "type": "ui_chart",
        "useOldStyle": true,
        "useOneColor": false,
        "width": "0",
        "wires": [
            [],
            []
        ],
        "x": 810,
        "xformat": "HH:mm:ss",
        "y": 760,
        "ymax": "",
        "ymin": "",
        "z": "459a3a0f.cadb4c"
    },
    {
        "drop": true,
        "id": "2d62e132.9fb69e",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "12",
        "rateUnits": "hour",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "e3fef250.c6848",
                "becb99e4.ad3498"
            ]
        ],
        "x": 420,
        "y": 800,
        "z": "459a3a0f.cadb4c"
    },
    {
        "drop": true,
        "id": "6157c121.0384c",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "12",
        "rateUnits": "hour",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "e3fef250.c6848",
                "becb99e4.ad3498"
            ]
        ],
        "x": 420,
        "y": 760,
        "z": "459a3a0f.cadb4c"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "10ab9a18.c4d2fe",
        "name": "Sensors online",
        "topic": "devices/0085b208/$online",
        "type": "mqtt in",
        "wires": [
            [
                "19e5bc30.506174"
            ]
        ],
        "x": 100,
        "y": 40,
        "z": "459a3a0f.cadb4c"
    },
    {
        "format": "{{msg.payload}}",
        "group": "ddd0fc4c.8a5e8",
        "height": "",
        "id": "19e5bc30.506174",
        "label": "Sensors online",
        "layout": "",
        "name": "",
        "order": 6,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 780,
        "y": 40,
        "z": "459a3a0f.cadb4c"
    },
    {
        "chartType": "line",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "cutout": "",
        "dot": false,
        "group": "a8db762f.1aeb8",
        "height": "",
        "id": "7efb3fd.a0dea4",
        "interpolate": "linear",
        "label": "",
        "name": "Temps",
        "nodata": "No Data",
        "order": 3,
        "outputs": 2,
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "type": "ui_chart",
        "useOldStyle": true,
        "useOneColor": false,
        "width": "",
        "wires": [
            [],
            []
        ],
        "x": 810,
        "xformat": "HH:mm:ss",
        "y": 920,
        "ymax": "",
        "ymin": "",
        "z": "459a3a0f.cadb4c"
    },
    {
        "drop": true,
        "id": "4a79422.e21503c",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "12",
        "rateUnits": "hour",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "7efb3fd.a0dea4"
            ]
        ],
        "x": 420,
        "y": 940,
        "z": "459a3a0f.cadb4c"
    },
    {
        "drop": true,
        "id": "f78eacdf.866578",
        "name": "",
        "pauseType": "rate",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "12",
        "rateUnits": "hour",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "7efb3fd.a0dea4"
            ]
        ],
        "x": 420,
        "y": 900,
        "z": "459a3a0f.cadb4c"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "36ff733.e6e650c",
        "name": "Bedroom fan state",
        "topic": "devices/0081b173/light/on",
        "type": "mqtt in",
        "wires": [
            [
                "99fbff09.f2e09"
            ]
        ],
        "x": 110,
        "y": 220,
        "z": "459a3a0f.cadb4c"
    },
    {
        "format": "{{msg.payload}}",
        "group": "ddd0fc4c.8a5e8",
        "height": "",
        "id": "99fbff09.f2e09",
        "label": "Fan on",
        "layout": "",
        "name": "",
        "order": 5,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 800,
        "y": 220,
        "z": "459a3a0f.cadb4c"
    },
    {
        "chartType": "line",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "cutout": "",
        "dot": false,
        "group": "58ffad67.aac28c",
        "height": "0",
        "id": "becb99e4.ad3498",
        "interpolate": "linear",
        "label": "",
        "legend": "true",
        "name": "Temps Big Bedroom",
        "nodata": "No Data",
        "order": 5,
        "outputs": 2,
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "type": "ui_chart",
        "useOldStyle": true,
        "useOneColor": false,
        "width": "0",
        "wires": [
            [],
            []
        ],
        "x": 1020,
        "xformat": "HH:mm:ss",
        "y": 800,
        "ymax": "",
        "ymin": "",
        "z": "459a3a0f.cadb4c"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "58ffad67.aac28c",
        "height": "1",
        "id": "9f5ee269.aa415",
        "label": "Inside temperature",
        "layout": "col-center",
        "name": "",
        "order": 1,
        "type": "ui_text",
        "width": "6",
        "wires": [],
        "x": 1030,
        "y": 540,
        "z": "459a3a0f.cadb4c"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "58ffad67.aac28c",
        "height": "1",
        "id": "e94bf9b0.85f8b",
        "label": "Outside temperature",
        "layout": "col-center",
        "name": "",
        "order": 2,
        "type": "ui_text",
        "width": "6",
        "wires": [],
        "x": 1020,
        "y": 600,
        "z": "459a3a0f.cadb4c"
    },
    {
        "format": "{{msg.payload}} &deg;",
        "group": "58ffad67.aac28c",
        "height": "1",
        "id": "11c77aec.a29e85",
        "label": "Temperature difference",
        "layout": "col-center",
        "name": "",
        "order": 3,
        "type": "ui_text",
        "width": "6",
        "wires": [],
        "x": 1010,
        "y": 400,
        "z": "459a3a0f.cadb4c"
    },
    {
        "format": "{{msg.payload}}",
        "group": "58ffad67.aac28c",
        "height": "1",
        "id": "3e06b492.64bde4",
        "label": "Window",
        "layout": "col-center",
        "name": "",
        "order": 4,
        "type": "ui_text",
        "width": "6",
        "wires": [],
        "x": 1060,
        "y": 320,
        "z": "459a3a0f.cadb4c"
    },
    {
        "broker": "2a729cbc.1e292c",
        "id": "d399f16f.11c548",
        "name": "Sensors uptime",
        "topic": "devices/0085b208/$uptime",
        "type": "mqtt in",
        "wires": [
            [
                "1eebc888.9549bf"
            ]
        ],
        "x": 100,
        "y": 100,
        "z": "459a3a0f.cadb4c"
    },
    {
        "func": "var s = msg.payload;\nvar m = Math.floor(s / 60);\nvar s = s % 60;\nvar h = Math.floor(m / 60);\nvar  m = m % 60;\nvar  d = Math.floor(h / 24);\nvar  h = h % 24;\nmsg.payload = d +\"d \";\nmsg.payload += h + \"h \";\nmsg.payload += m + \"m \";\nmsg.payload += s + \"s\";\nreturn msg;",
        "id": "1eebc888.9549bf",
        "name": "Format seconds",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "e3b5c7ad.27665"
            ]
        ],
        "x": 340,
        "y": 100,
        "z": "459a3a0f.cadb4c"
    },
    {
        "format": "{{msg.payload}}",
        "group": "ddd0fc4c.8a5e8",
        "height": "",
        "id": "e3b5c7ad.27665",
        "label": "Sensors uptime",
        "layout": "",
        "name": "",
        "order": 7,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 780,
        "y": 100,
        "z": "459a3a0f.cadb4c"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "5be6727d.bd676c",
        "name": "Bedroom fan online",
        "qos": "2",
        "topic": "devices/0081b173/$online",
        "type": "mqtt in",
        "wires": [
            [
                "2d116991.e72a16"
            ]
        ],
        "x": 110,
        "y": 160,
        "z": "459a3a0f.cadb4c"
    },
    {
        "format": "{{msg.payload}}",
        "group": "ddd0fc4c.8a5e8",
        "height": "",
        "id": "2d116991.e72a16",
        "label": "Relay online",
        "layout": "",
        "name": "",
        "order": 8,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 790,
        "y": 160,
        "z": "459a3a0f.cadb4c"
    },
    {
        "func": "msg.payload = Date.now();\nmsg.topic = 'timestamp'\nreturn msg;",
        "id": "deeb1eaf.66a268",
        "name": "Timestamp",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "20ddb075.08f94"
            ]
        ],
        "x": 370,
        "y": 320,
        "z": "e8892798.dbab28"
    },
    {
        "format": "{{msg.payload}}",
        "group": "42b6ae00.90b7d4",
        "height": "",
        "id": "c0b50478.a941a8",
        "label": "Last update",
        "layout": "",
        "name": "",
        "order": 5,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 870,
        "y": 420,
        "z": "e8892798.dbab28"
    },
    {
        "crontab": "",
        "id": "bcc55e4b.f08bd",
        "name": "",
        "once": true,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "topic": "now",
        "type": "inject",
        "wires": [
            [
                "20ddb075.08f94"
            ]
        ],
        "x": 160,
        "y": 420,
        "z": "e8892798.dbab28"
    },
    {
        "func": "if(msg.topic == \"timestamp\") {\n    context.since_timestamp = msg.payload;\n    return null;\n}\n\nif(msg.topic == \"now\") {\n    if(typeof context.since_timestamp == \"undefined\") {\n        return null;\n    }\n\n    return { \n        payload: msg.payload - context.since_timestamp,\n        topic: \"since\" \n    }\n}\n",
        "id": "20ddb075.08f94",
        "name": "since",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "4796d685.b7be08"
            ]
        ],
        "x": 470,
        "y": 420,
        "z": "e8892798.dbab28"
    },
    {
        "func": "var s = Math.round(msg.payload / 1000);\nvar m = Math.floor(s / 60);\nvar s = s % 60;\nvar h = Math.floor(m / 60);\nvar  m = m % 60;\nvar  d = Math.floor(h / 24);\nvar  h = h % 24;\nmsg.payload = d +\"d \";\nmsg.payload += h + \"h \";\nmsg.payload += m + \"m \";\nmsg.payload += s + \"s\";\nreturn msg;",
        "id": "4796d685.b7be08",
        "name": "Format milliseconds",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "c0b50478.a941a8"
            ]
        ],
        "x": 660,
        "y": 420,
        "z": "e8892798.dbab28"
    },
    {
        "action": "",
        "from": "",
        "id": "c5472008.083cd8",
        "name": "",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "topic",
                "pt": "msg",
                "t": "set",
                "to": "trigger",
                "tot": "str"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "267878a1.6cb448"
            ]
        ],
        "x": 370,
        "y": 240,
        "z": "f7c3f5b1.15af3"
    },
    {
        "bytopic": "all",
        "duration": "1000",
        "extend": true,
        "id": "267878a1.6cb448",
        "name": "",
        "op1": "true",
        "op1type": "str",
        "op2": "false",
        "op2type": "str",
        "reset": "",
        "type": "trigger",
        "units": "ms",
        "wires": [
            [
                "230bc5d2.7396a2"
            ]
        ],
        "x": 560,
        "y": 240,
        "z": "f7c3f5b1.15af3"
    },
    {
        "func": "// Message from trigger\n// The trigger sends true, then false after 1s\nif(msg.topic == \"trigger\") {\n    context.set('wait', msg.payload);\n    if(msg.payload == 'true') {\n        // Trigger started, wait...\n        return null;\n    }\n\n    // Get and remove buffered value, then send it\n    var buffered = context.get('buf');\n    if(typeof buffered !== 'undefined' &&\n       buffered !== null) {\n        context.set('buf', null);\n        return {payload: buffered};\n    }\n    return null;\n}\n\n// Message from external input\nif(context.get('wait') == 'true') {\n    // Trigger active, store value\n    context.set('buf', msg.payload);\n    return null;\n}\n\n// Trigger not active, pass on value\nreturn {payload: msg.payload};\n",
        "id": "230bc5d2.7396a2",
        "name": "buffer",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            []
        ],
        "x": 750,
        "y": 180,
        "z": "f7c3f5b1.15af3"
    },
    {
        "checkall": "true",
        "id": "ea4d6784.fc38b",
        "name": "Extract control",
        "outputs": 2,
        "property": "topic",
        "propertyType": "msg",
        "repair": false,
        "rules": [
            {
                "t": "neq",
                "v": "control",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "type": "switch",
        "wires": [
            [
                "230bc5d2.7396a2"
            ],
            [
                "c5472008.083cd8"
            ]
        ],
        "x": 180,
        "y": 180,
        "z": "f7c3f5b1.15af3"
    },
    {
        "id": "12f0a97b.0a7c87",
        "name": "",
        "type": "subflow:f7c3f5b1.15af3",
        "wires": [
            [
                "d73bac27.181e08"
            ]
        ],
        "x": 480,
        "y": 120,
        "z": "5d39f6e8.677b6"
    },
    {
        "id": "267712fa.70c8ee",
        "name": "",
        "type": "subflow:f7c3f5b1.15af3",
        "wires": [
            [
                "2c680e99.70e122"
            ]
        ],
        "x": 540,
        "y": 1260,
        "z": "9122054e.29969"
    },
    {
        "id": "6b6427a5.2800c8",
        "name": "",
        "type": "subflow:f7c3f5b1.15af3",
        "wires": [
            [
                "96da407e.693bd"
            ]
        ],
        "x": 580,
        "y": 600,
        "z": "9122054e.29969"
    },
    {
        "id": "ca477a98.62fb98",
        "name": "",
        "type": "subflow:f7c3f5b1.15af3",
        "wires": [
            [
                "a4bb9eac.deacf"
            ]
        ],
        "x": 580,
        "y": 840,
        "z": "9122054e.29969"
    },
    {
        "format": "{{msg.payload}}",
        "group": "c8a54de6.369ff",
        "height": "",
        "id": "4f604ef9.95e5f",
        "label": "NeoPixels mode",
        "layout": "",
        "name": "",
        "order": 7,
        "type": "ui_text",
        "width": "",
        "wires": [],
        "x": 980,
        "y": 380,
        "z": "9122054e.29969"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "a8a2f458.a6a0a8",
        "name": "",
        "qos": "2",
        "topic": "control/lightshow/mode",
        "type": "mqtt in",
        "wires": [
            [
                "4f604ef9.95e5f"
            ]
        ],
        "x": 740,
        "y": 380,
        "z": "9122054e.29969"
    },
    {
        "group": "a8db762f.1aeb8",
        "height": 0,
        "id": "98327496.bfed28",
        "label": "LED strip",
        "max": "2047",
        "min": 0,
        "name": "",
        "order": 0,
        "passthru": true,
        "step": 1,
        "topic": "",
        "type": "ui_slider",
        "width": 0,
        "wires": [
            [
                "5d56d136.f96c18"
            ]
        ],
        "x": 180,
        "y": 620,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "5d56d136.f96c18",
        "name": "",
        "qos": "2",
        "retain": "false",
        "topic": "/ledstrip1/value/set",
        "type": "mqtt out",
        "wires": [],
        "x": 510,
        "y": 620,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "dbbe7721.83f838",
        "name": "",
        "qos": "2",
        "retain": "false",
        "topic": "/ledstrip1/update",
        "type": "mqtt out",
        "wires": [],
        "x": 510,
        "y": 740,
        "z": "5d39f6e8.677b6"
    },
    {
        "crontab": "",
        "id": "463deb53.e62e44",
        "name": "Update",
        "once": false,
        "onceDelay": 0.1,
        "payload": "true",
        "payloadType": "str",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "dbbe7721.83f838"
            ]
        ],
        "x": 170,
        "y": 740,
        "z": "5d39f6e8.677b6"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "id": "c03904e8.eae328",
        "name": "",
        "qos": "2",
        "retain": "",
        "topic": "doorbell/header",
        "type": "mqtt out",
        "wires": [],
        "x": 1000,
        "y": 460,
        "z": "8986fa08.d4999"
    },
    {
        "crontab": "",
        "id": "72c315d3.7abf64",
        "name": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "Hello dragon!",
        "payloadType": "str",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "c03904e8.eae328"
            ]
        ],
        "x": 450,
        "y": 500,
        "z": "8986fa08.d4999"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "datatype": "utf8",
        "id": "88d8c6a6.33ee2",
        "name": "Bedroom temp inside",
        "qos": "2",
        "topic": "devices/0085b208/f6011581e788ff28/temperature",
        "type": "mqtt in",
        "wires": [
            [
                "cbc9b8e1.8d4d2"
            ]
        ],
        "x": 140,
        "y": 280,
        "z": "8986fa08.d4999"
    },
    {
        "crontab": "",
        "id": "4dc22ed0.90af3",
        "name": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "Squeee!",
        "payloadType": "str",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "c03904e8.eae328"
            ]
        ],
        "x": 440,
        "y": 600,
        "z": "8986fa08.d4999"
    },
    {
        "broker": "69f5a3df.5a8b0c",
        "datatype": "utf8",
        "id": "eb748fda.fbcb88",
        "name": "Bedroom temp outside",
        "qos": "2",
        "topic": "devices/0085b208/c480000003e30d28/temperature",
        "type": "mqtt in",
        "wires": [
            [
                "cbc9b8e1.8d4d2"
            ]
        ],
        "x": 140,
        "y": 380,
        "z": "8986fa08.d4999"
    },
    {
        "func": "if(msg.topic == \"devices/0085b208/f6011581e788ff28/temperature\") {\n    msg.topic = \"bedroom_inside\";\n}\nif(msg.topic == \"devices/0085b208/c480000003e30d28/temperature\") {\n    msg.topic = \"bedroom_outside\";\n}\n\nreturn msg;",
        "id": "cbc9b8e1.8d4d2",
        "name": "Rename topic",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "98a0bd0c.674268"
            ]
        ],
        "x": 400,
        "y": 320,
        "z": "8986fa08.d4999"
    },
    {
        "func": "if(msg.topic == \"bedroom_inside\") {\n    context.temp_inside = msg.payload;\n}\nif(msg.topic == \"bedroom_outside\") {\n    context.temp_outside = msg.payload;\n}\nreturn { \n    payload:\n    Number(context.temp_inside).toFixed(2) + \n    \" / \" +\n    Number(context.temp_outside).toFixed(2),\n    topic: \"temps\"\n}\n",
        "id": "98a0bd0c.674268",
        "name": "To text",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "c03904e8.eae328"
            ]
        ],
        "x": 500,
        "y": 400,
        "z": "8986fa08.d4999"
    }
]
